@use "./assets/scssVariables.scss" as var;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var.$black;
    color: var.$white;
    font-family: "Poppins-Regular";
    -webkit-user-select: none;
    user-select: none;
}

.container {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.capitalize {
    text-transform: initial !important;
}

.uppercase {
    text-transform: uppercase !important;
}

a {
    color: var.$white;
    text-decoration: none;
    @include var.transition-out;

    &:hover {
        color: var.$primary-color;
        @include var.transition-in;
    }
}

.btn {
    cursor: pointer;
    border: 1px solid var.$primary-color;
    background-color: var.$primary-color;
    padding: 0.5rem 1.3rem;
    border-radius: 0rem;
    color: var.$white;
    font-weight: 500;
    color: var.$black;
    display: inline-block;
    margin: 0.5rem 0.7rem;
    font-size: 1.2rem;

    @include var.transition-in;
}

.btn:hover {
    background-color: var.$secondary-color;
    border-color: var.$secondary-color;
    @include var.transition-out;
    color: var.$white;
}

.btn-light {
    background-color: transparent;
    color: var.$white;
    border-color: var.$white;
}



//*** Media Query ***

@media screen and (max-width: 576px) {
    .container {
        padding: .7rem .7rem 0.7rem 0.7rem;
    }
}